{{#> base main-partial-block=true title=title}}
{{!> jumbotron}}
    <style>
        .grid-12 > *,
        .tile > * {
            outline: 1px solid #ddd;
        }
    </style>

    <aside class="sidebar">
        <nav>
            {{#each pages}}
                <div>
                    <a href="/{{this}}.html">{{this}}</a>
                </div>
            {{/each}}
        </nav>
    </aside>

    <section class="content">
        content
        <nav class="col">
            {{#each pages}}
                <div>
                    <a href="/{{this}}.html">{{this}}</a>
                </div>
            {{/each}}
        </nav>
    </section>

    <section class="grid-12">
        {{#each debugGrid}}
            <div>{{this}}</div>
        {{/each}}
    </section>

    <section class="grid-12 shrink">
        {{#each debugGrid}}
            <div>{{this}}</div>
        {{/each}}
    </section>
{{/base}}
